{% extends "app/base.html" %}
{% load static %}

{% block titulo %}Avance{% endblock %}
{% block contenido %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Registrar avance de una tarea</h1>
</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">¡Registrar Avance!</h1>
                    </div>

                    <form class="user" action="{% url 'app:avance' %}" method="post" onkeypress="return anular(event)">
                        {% csrf_token %}

                        <input type="hidden" id="idTareaAvance" name="idTareaAvance" value="{{tarea.id}}" />
                        <div class="form-group">
                            <label for="tarea">Tarea</label>
                            <input type="text" maxlength="45" class="form-control" id="tarea" name="tarea"
                                value="{{tarea.nombre}}" disabled>
                        </div>
                        {% for avance in avances %}
                        <input type="hidden" id="idAvance" name="idAvance" value="{{avance.id}}" />

                        <div class="form-group">
                            <label for="descripcion">Descripción</label>
                            <textarea class="form-control" id="descripcion" name="descripcion"
                                rows="3">{{avance.descripcion}}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="tiempoTrabajado">Tiempo trabajado</label>
                            <input type="number" class="form-control" id="tiempoTrabajado" name="tiempoTrabajado"
                                value="{{avance.tiempoTrabajado}}" required>
                        </div>

                        <div class="form-group">
                            <label for="tiempoRestante">Tiempo restante</label>
                            <input type="number" class="form-control" id="tiempoRestante" name="tiempoRestante"
                                value="{{avance.tiempoRestante}}" readonly>
                        </div>
                        {% endfor %}
                        {% if not avances%}
                        <input type="hidden" id="idAvance" name="idAvance" value="" />

                        <div class="form-group">
                            <label for="descripcion">Descripción</label>
                            <textarea class="form-control" id="descripcion" name="descripcion" rows="3"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="tiempoTrabajado">Tiempo trabajado</label>
                            <input type="number" class="form-control" id="tiempoTrabajado" name="tiempoTrabajado"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="tiempoRestante">Tiempo restante</label>
                            <input type="number" class="form-control" id="tiempoRestante" name="tiempoRestante"
                                readonly>
                        </div>

                        {% endif %}

                        <input type="hidden" id="tiempoEstimadoAvance" value="{{tarea.tiempoEstimado}}">
                        <button class="btn btn-primary btn-user btn-block" type="submit">Registrar</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}