{% extends "app/base.html" %}
{% load static %}

{% block titulo %}Home{% endblock %}
{% block contenido %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Burndown Chart</h1>
</div>

<div class="row">
    <div class="col-lg-12 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Projectos</h6>
            </div>
            <div class="card-body">
                <h6 class="m-0 font-weight-bold text-primary">ProductOwner </h6>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Tareas</th>
                                <th>Developers</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Tareas</th>
                                <th>Developers</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for proyecto in lista_proyectosP %}
                            <tr>
                                <td>{{ proyecto.nombre }}</td>
                                <td>{{ proyecto.descripcion }}</td>
                                <td>
                                    <a class="btn btn-primary btn-circle btn-small" href="#" id="alertsTareas"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                        aria-labelledby="alertsTareas">
                                        <h6 class="dropdown-header">
                                            Tareas
                                        </h6>
                                        {% for tarea in todas_tareas %}
                                        {% if tarea.proyecto_id == proyecto.id %}
                                        <div class="dropdown-item d-flex align-items-center">
                                            <div>
                                                <span class="font-weight-bold">{{tarea.nombre}}</span><br>
                                                Developer asignado: <span>{{tarea.developer}}</span><br>
                                                Estado actual: <span>{{tarea.estadoActual}}</span>
                                            </div>
                                        </div>
                                        {%endif%}
                                        {% endfor %}
                                    </div>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-circle btn-small" href="#" id="alertsDevelopers"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-info-circle"></i>
                                    </a>

                                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                        aria-labelledby="alertsDevelopers">
                                        <h6 class="dropdown-header">
                                            Developers
                                        </h6>
                                        {% for developer in todos_developer %}
                                        {% if developer.idProyecto_id == proyecto.id %}
                                        <div class="dropdown-item d-flex align-items-center">
                                            <div>
                                                Nombres: <span>{{developer.idUser.first_name}}</span><br>
                                                Apellidos: <span>{{developer.idUser.last_name}}</span><br>
                                                Email: <span>{{developer.idUser.email}}</span><br>
                                            </div>
                                        </div>
                                        {%endif%}
                                        {% endfor %}
                                    </div>

                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                <h6 class="m-0 font-weight-bold text-primary">Developer </h6>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Tareas</th>
                                <th>Developers</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Tareas</th>
                                <th>Developers</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for proyecto in lista_proyectosD %}
                            <tr>
                                <td>{{ proyecto.nombre }}</td>
                                <td>{{ proyecto.descripcion }}</td>
                                <td>
                                    <a class="btn btn-primary btn-circle btn-small" href="#" id="alertsTareas"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                        aria-labelledby="alertsTareas">
                                        <h6 class="dropdown-header">
                                            Tareas
                                        </h6>
                                        {% for tarea in todas_tareas %}
                                        {% if tarea.proyecto_id == proyecto.id %}
                                        <div class="dropdown-item d-flex align-items-center">
                                            <div>
                                                <span class="font-weight-bold">{{tarea.nombre}}</span><br>
                                                Developer asignado: <span>{{tarea.developer}}</span><br>
                                                Estado actual: <span>{{tarea.estadoActual}}</span>
                                            </div>
                                        </div>
                                        {%endif%}
                                        {% endfor %}
                                    </div>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-circle btn-small" href="#" id="alertsDevelopers"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-info-circle"></i>
                                    </a>

                                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                        aria-labelledby="alertsDevelopers">
                                        <h6 class="dropdown-header">
                                            Developers
                                        </h6>
                                        {% for developer in todos_developer %}
                                        {% if developer.idProyecto_id == proyecto.id %}
                                        <div class="dropdown-item d-flex align-items-center">
                                            <div>
                                                Nombres: <span>{{developer.idUser.first_name}}</span><br>
                                                Apellidos: <span>{{developer.idUser.last_name}}</span><br>
                                                Email: <span>{{developer.idUser.email}}</span><br>
                                            </div>
                                        </div>
                                        {%endif%}
                                        {% endfor %}
                                    </div>

                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Burndown Chart</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}