{% extends "app/base.html" %}
{% load static %}

{% block titulo %}Tareas creadas{% endblock %}
{% block contenido %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Tareas creadas</h1>
</div>

<div class="container-fluid">
    <div class="card shadow mb-4">

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Developer asignado</th>
                            <th>Proyecto</th>
                            <th>Estado Actual</th>
                            <th>Tiempo Estimado</th>
                            <th>Fecha de Creación</th>
                            <th>Avances</th>
                            <th>Editar</th>
                            <th>Borrar</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Developer asignado</th>
                            <th>Proyecto</th>
                            <th>Estado Actual</th>
                            <th>Tiempo Estimado</th>
                            <th>Fecha de Creación</th>
                            <th>Avances</th>
                            <th>Editar</th>
                            <th>Borrar</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for tarea in lista_tareas %}
                        <tr>
                            <td>{{ tarea.nombre }}</td>
                            <td>{{ tarea.descripcion }}</td>
                            <td>{{ tarea.developer }}</td>
                            <td>{{ tarea.proyecto }}</td>
                            <td>{{ tarea.estadoActual }}</td>
                            <td>{{ tarea.tiempoEstimado }}</td>
                            <td>{{ tarea.fechaCreacion }}</td>
                            <td>
                                <a class="btn btn-primary btn-circle btn-lg" href="#" id="alertsAvaces" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby="alertsAvaces">
                                    <h6 class="dropdown-header">
                                        Avances
                                    </h6>
                                    {% for avance in avances %}
                                    {% if avance.tarea_id == tarea.id %}
                                    <div class="dropdown-item d-flex align-items-center">
                                        <div>
                                            <div class="small text-gray-500">{{avance.fecha}}</div>
                                            <span class="font-weight-bold">{{avance.descripcion}}</span><br>
                                            Developer: <span>{{avance.usuario}}</span><br>
                                            Tiempo trabajado: <span>{{avance.tiempoTrabajado}}</span><br>
                                            Tiempo restante: <span>{{avance.tiempoRestante}}</span>
                                        </div>
                                    </div>
                                    {%endif%}
                                    {% endfor %}
                                </div>
                            </td>
                            <td>
                                <form class="user" action="{% url 'app:form_tarea2' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="idTarea" name="idTarea" value="{{tarea.id}}">
                                    <button class="btn btn-primary btn-circle btn-lg" type="submit"><i
                                            class="fas fa-edit"></i>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <a class="btn btn-danger btn-circle btn-lg" href="#"
                                    onclick="showEliminarTareaModal({{ tarea.id }})">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>



    </div>
</div>

<!-- Eliminar Tarea Modal-->
<div class="modal fade" id="eliminarTareaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Esta seguro de eliminar
                    la tarea ?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Si elimina la tarea tambien elimina todos los avances que estan
                asociados a ella</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <!-- <a class="btn btn-primary" href="{% url 'app:view_logout' %}">Eliminar</a> -->
                <form class="user" action="{% url 'app:tarea_eliminar' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="idTareaEliminar" name="idTareaEliminar">
                    <button class="btn btn-primary" type="submit">Eliminar</button>
                </form>

            </div>
        </div>
    </div>
</div>


{% endblock %}